- form_for(@application) do |f|
  %fieldset
    %div
      = f.label :name
      = f.text_field :name
    %div
      = f.label :content
      = f.text_area :content
    %div
      = f.label :image_path 
      = f.text_field :img_path
    %div
      = f.label :path 
      = f.text_field :path
    %div
      = f.submit :Submit
