%h1 Listing Applications
=link_to "New application", new_application_path

%table
  %tr
    %th Name
    %th Content
    %th Img_path
    %th Path
    %th{:colspan => 3} 
      Manage
  - @applications.each do |app|
    %tr
      %td
        =h app.name
      %td
        =h app.content
      %td
        =h app.img_path
      %td
        =h app.path
      %td
        =link_to "Show", app
      %td
        =link_to "Edit", edit_application_path(app)
      %td
        =link_to "Destroy", app, :confirm => "Are you sure?", :method => :delete

