%h2 Show application
%table
  %tr
    %th Name
    %th Content
    %th Img_path
    %th Path
    %th Created at
    %th Updated at
  %tr
    %td 
      =h @application.name
    %td 
      =h @application.content
    %td 
      =h @application.img_path
    %td 
      =h @application.path
    %td
      =h @application.created_at
    %td 
      =h @application.updated_at

=link_to "Edit", edit_application_path(@application)
=link_to "Back", applications_path
