.account {
  text-align: right;
}

.banner {
  background-color: #333;
  margin: 10px 0px;
  padding: 5px;
  color: #fff;
  text-align: center;
}

.banner h2 {
  font-size: 25px;
}

.banner h3 {
  font-size: 15px;
  margin:5px 0 20px;
}

fieldset div {
  width: 150px;
  margin: 15px 0 15px
}

.products .product p {
  margin: 0px 0 0;
  height: 50px;
  overflow:hidden;
}

.products .product h4 {
  height: 36px;
  margin: 9px 0 0;
  overflow:hidden;
}

.products .product .order {
  margin: 0 0 30px;
}

.products h2 {
  margin:30px 0 20px;
}

