.span-24
  %p Please select your payment method and provide your billing information to process your order. You may choose to pay either a 50% deposit, or the full price of your project.
  %fieldset
    %h3 Payment Information
    -form_tag(@payment) do
      %table
        %tr
          %td 
            First Name
          %td
            =text_field_tag :id => "firstname"
        %tr
          %td
            Last Name
          %td
            =text_field_tag :id => "lastname"
        %tr
          %td
            Email
          %td
            =text_field_tag :id => "email"
        %tr
          %td
            Phone
          %td
            =text_field_tag :id => "phone"
        %tr
          %td
            Address*
          %td
            =text_field_tag :id => "address"
        %tr
          %td
            City
          %td
            =text_field_tag :id => "city"
        %tr
          %td
            State/Province*
          %td
            =text_field_tag :id => "province"

      =submit_tag "Finish"
      %p For Trial Version, You can skip this step
