- i = 1  
%h2 CLICK
%h2 Choose your application with theme

.products
  - @applications.each do |app|

    - if i % 4 != 0  
      .span-6.product
        = render :partial => "showApp", :object => app

    - else  
      .span-6.last.product
        = render :partial => "showApp", :object => app

    - i = i + 1


