%h2 Edit Settings 
%table
  - form_for (@site) do |s|
    %tr
      %td 
        Application Name
      %td 
        = s.text_field :name

    %tr
      %td 
        Application ID
      %td 
        = label_tag @site.app_id

    %tr
      %td 
      %td 
        = s.submit :submit
-#        
  %tr
    %td Description
    %td 
      = text_area_tag("description")
  %tr
    %td Icon
    %td 
      = text_field_tag("icon path")

