- i = 1
.span-24
  %h3 
    Sites Management
  %h4
    Account =
    = current_user.email

  %table{:width => '100%'}
    %tr
      %th No.
      %th Site Name 
      %th Application Name
      %th Database Usage 
      %th Payment Status
      %th Manage Site

    - @site.each do |site|
      %tr
        %td
          = i
        %td
          = site.name
        %td
          = site.app_id
        %td
          = site.db_size
        %td
          = site.payment_approve
        %td
          = link_to "Settings", edit_site_path(site.id)
          %br
          = link_to "Delete", site, :confirm => "Are you sure?", :method => :delete
          %br
      - i = i + 1
