.span-24
  %p As you customize your order, you will see the order summary box in the right sidebar update automatically. This price also includes multiple page discount! Please note that software implementation option may increase the estimated delivery time for the project. 

  %fieldset
    %h2
      = @application.name
      = image_tag(@application.img_path)
    
    - form_for( @site, :url => { :controller => "sites", :action => "create" }) do |f|

      %p 
        Site name : 
        = f.text_field :name 
        ex. blog.yourname.com

      %p 
        How large are your storage?
        = f.text_field( :db_size, :size => "17" )
        MB

      = f.hidden_field "app_id", :value => "#{@application.id}"
      
      = f.hidden_field "user_id", :value => "#{current_user.id}"

      = f.submit "Submit"

-#- if user_signed_in?
-#- else
-#= "Please Sign in before next method will be  proceeded..."
