%h3
  Site Name : 
  = @site.name
%p
  Application ID : 
  = @site.app_id

%p
  Database Usage
  = @site.db_size

%p
  Payment Status
  = @site.payment_approve

%h6
  Site  
  = link_to "Open..", "http://#{@site.name}"
  = link_to "Back", sites_path
  

