%html
  %head
    %title InstantSOA
    = yield :title
    = stylesheet_link_tag 'screen'
    = stylesheet_link_tag 'print', :media => "print"
    = stylesheet_link_tag 'ie'
    = stylesheet_link_tag 'style'
    = stylesheet_link_tag 'default'
   
  %body
    %a{:name => "page"}
    .container
      .span-24
        #top_bar
          .span-11.top_nav
            =link_to "Home", root_path
            | About | Services | Solutions | Contact

          .span-13.last.account
            -if user_signed_in?
              ="Signed in as"
              =current_user.email
              %br
              =link_to "Sign out", destroy_user_session_path
              |
              =link_to "Edit Profile", edit_user_registration_path
              |
              =link_to "Sites Management", sites_path
            -else
              =link_to "Sign up", new_user_registration_path
              ="or"
              =link_to "Sign in", new_user_session_path

      .span-24
        #flash-notice
          =flash[:notice]

        

        .banner

          %h2 Instant SOA Project

          %h3 Instantly build your web. Easily make your application

        #application
          = yield

      .span-24
        #footer
          %a <br><strong>InstantSOA Project</strong> | Instantly build your web | Easily make your application <br> Email: project@instantSOA <br> Tel: 1-1234-31842

